body {
  background: #283f3b;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  margin-top: 20px;
}

.card-body-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px #fff;
  background: #8abfba;
  border-radius: 20px;
  width: 420px;
  height: 960px;
}

.heading {
  color: #fff;
  margin-top: 20px;
}

.heading-1 {
  color: #fff;
  margin-top: 40px;
}

.open-button {
  margin-top: 20px;
  background-color: #694d75;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  padding-left: 100px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  border: solid 1px #fff;
}

.open-button:hover {
  background-color: pink;
  transition: background-color 0.5s ease;
  text-decoration: none;
  color: red;
}

.img-1 {
  margin-top: 20px;
  width: 250px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.img-2 {
  width: 150px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: 10px;
}

.img-3 {
  width: 150px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: 10px;
}

.cats-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.heading-cats {
  color: #fff;
  margin-top: 20px;
}
